body {
  margin: 0;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-hide {
  display: none;
}

.screen {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
  margin: 20px 20px;
}

.row1,
.row3 {
  justify-content: space-between;
}
.row2 {
  display: flex;
  justify-content: center;
}

.img {
  width: 150px;
  height: 150px;
}

.show {
  opacity: 100%;
}

.hide {
  opacity: 0%;
}
